/* Write your CSS here */
.team_match_bg_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #13418b;
  min-height: 100vh;
}
.team_match_main_container {
  width: 80%;
}
.match_card_container {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.match_card_item {
  background-color: #0f172a;
  border-radius: 10px;
  color: white;
  font-family: Bree serif;
  width: 30%;
}

@media (max-width: 767px) {
  .match_card_container {
    flex-direction: column;
    flex-wrap: nowrap;
  }
  .match_card_item {
    width: 100%;
  }
}
